In [80]:
import pandas as pd

In [81]:
pd.set_option('display.max_row',100)
df=pd.read_csv('spam.csv', encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [82]:
df_drop = df.drop(['Unnamed: 2',	'Unnamed: 3',	'Unnamed: 4'], axis=1)
df_new = df_drop.rename(columns = {'v1':'label','v2':'message'})
df_new.head(5)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [83]:
df_new2= df_new.iloc[:,[0,1]]

In [84]:
df_new2.to_csv('clean_data.csv')

In [86]:
df_work = pd.read_csv('clean_data.csv')
# df_work.head()
df_work2 = df_work.drop(['Unnamed: 0'], axis=1)
# df_work2 = df_work2.rename(columns = {'v1':'label','v2':'message'})
df_work2.head(5)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...